{
  "rules": {
      "semi": 2,
      "vars-on-top": 2,
      "space-after-keywords": 2,
      "quotes": [2, "single", "avoid-escape"],
      "valid-jsdoc": [2, {"prefer": {"return": "returns"}}]
  },
  "env": {
      "browser": true,
      "node": true
  }
}